header, body, footer {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    margin: auto;
    padding: 92px 50px;
    max-width: 1440px;
    align-items: center;
    justify-content : space-between;
}

.header__menu {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    width: 388px;
    height: 23px;
}

.header__links-list {
    margin: 0;
    display: flex;
    gap: 32px;
    width: 388px;
    height: 23px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: circle;
}

.header__links-list :first-child {
    list-style-type: none;
}

.header__link {
    color: black;
}

.link__active {
    text-decoration: none;
}

.header__logo {
    width: 100%;
    height: 100%;
}

.logo {
    padding: 0 340px 0 209px;
    width: 240px;
    height: 97px;
}

.address {
    margin-top: 12px;
    margin-right: 15px;
}

.header__address, .footer__address {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.address-underline {
    text-decoration: underline;
}

.cover {
    display: flex;
    position: relative;
    margin: auto;
    padding: 0;
    background-image: url(../images/cover.jpg);
    min-width: 1440px;
    height: 100%;
}

.overlay {
    position: absolute;
    opacity: .6;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.cover__title {
    font-family: Raleway, Arial, sans-serif;
    margin: 165px 50px 147px 50px;
    padding: 0;
    position: relative;
    flex-wrap: wrap;
    color: white;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    z-index: 1;
    width: 100%;
}

.aligned-text {
    margin: 0;
    padding: 0;
    line-height: 115%;
    letter-spacing: 30px;
    display: block;
    width: 100%;
    height: 115px;
    z-index: 2;
    margin-bottom: 20px;
    flex-basis: 100%;
}
  
.extended-letter {
    margin: 0;
    padding: 0;
    letter-spacing: 60px;
}
  
.last-letter {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}
  
.aligned-text-center {
    margin: 0;
    padding: 0;
    letter-spacing: 30px;
    text-align: center;
    line-height: 100%;
    display: block;
    margin-bottom: 20px;
    flex-basis: 100%;
    height: 100px;
}
  
  .aligned-text-right {
    margin: 0;
    padding: 0;
    letter-spacing: 30px;
    line-height: 100%;
    display: block;
    text-align: right;
    margin-bottom: 135px;
    flex-basis: 100%;
    height: 100px;
}

.about {
    display: flex;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 25px;
    position: absolute;
    bottom: 62px;
    left: 422px;
    z-index: 1;
}

.button {
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-family: Raleway;
    background: transparent;
    color: white;
    display: flex;
    padding: 12px 32px;
    width: 257px;
    height: 52px;
    border: 1px solid #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    word-wrap: break-word;
    z-index: 1;
    white-space: nowrap
}

.lots {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 180px 50px 0;
    width: 1340px;
    flex-direction: column;
}

.lots__title {
    margin: 0 0 27px 40px;
    padding: 0;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__lot123 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    gap: 25px;
}

.lots__lot-lot123 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 430px;
    height: 450px;
    flex-shrink: 0;
}

.lots__lot1 {
    margin: 0;
    padding: 0;
    background-image: url(../images/card-lot-01.jpg);
}

.lots__lot2 {
    margin: 0;
    padding: 0;
    background-image: url(../images/card-lot-02.jpg);
}

.lots__lot3 {
    margin: 0;
    padding: 0;
    background-image: url(../images/card-lot-03.jpg);
}

.lot-title {
    position: relative;
    margin: 50px 40px 0;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 2;
}

.lot-subtitle {
    position: absolute;
    margin: 0 40px;
    padding: 0;
    bottom: 50px;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    z-index: 2;
}

.lots__more {
    margin: 30px 0 2px 40px;
    padding: 0;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.lots__more-href {
    color: black;
}

.section__about {
    margin: 181px 0 0;
    padding: 0;
    display: flex;
    position: relative;
    width: 1340px;
    flex-shrink: 0;
    height: 487px;
}

.about__logo {
    display: flex;
    margin: 0 120px 350px 145px;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    min-height: 240px;
    flex-shrink: 0;
    background-color: black;
    border-radius: 50%;
}

.about__logo-img {
    width: 148px;
    height: 114px;
    flex-shrink: 0;
    z-index: 1;
}

.about__text {
    margin: 100px 50px 1px 0;
    color: black;
}

.about__title {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 100px 0;
}

.about__subtitle {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 885px;
}

.footer {
    margin: 180px 50px 90px;
    padding: 0;
    min-width: 1340px;
    display: flex;
    gap: 356px;
}

.footer__links-list {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
}

.footer__link {
    color: black;
}

.footer__icon {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
    padding: 0;
    width: 240px;
    height: 48px;
}